# EXTRACTING DATA 
LOC() basado en en nombres(etiquetas), por lo que tenemos que especificar filas y columnas usando el nombre index/fial y columna

iLOC() esta basado en la posición numerica entera, por lo que tenemos que especificar filas y columnas usando el vaor de su posicion entera( posición empieza por el numero 0)

## Diferencias Loc vs iLoc

In [ ]:
Seleccionar con:
    
                  loc (nombre)      | iloc(posición)
        --------------------------------------------
    Valor   >     df.loc['zero']    | df.iloc[0]
    Lista   > df.loc[['zero','two']] | df.iloc[[0,2]
    Slicing > df.loc['zero':'two']]  | df.iloc[0:2]
    
en metodo loc > los index están incluidos en la seleccion
en metodo iloc > los index no están incluidos en la selección

# El dataset a usar, fijar index y seleccionar columnas

In [1]:
import pandas as pd

In [48]:
df = pd.read_csv('players_20.csv')

In [49]:
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [50]:
# la columna short_name la asignaremos como index
# para ello set_index
df.set_index('short_name', inplace=True)

In [51]:
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [52]:
# vamos a seleccionar las siguientes columnas
df = df[['long_name', 'age', 'dob',	'height_cm', 'weight_kg', 'nationality', 'club']]

# Seleccionar un valor
loc[nombre_fila, nombre_columna]

In [53]:
#obtener datos sobre L.Messi
df.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [54]:
# obtener la estatura de L. Messi
df.loc['L. Messi', 'height_cm']

170

In [55]:
# Obtener el peso de Cristiano Ronaldo
df.loc['Cristiano Ronaldo', 'weight_kg']

83

In [56]:
# obtener todas las filas dentro de la columna 'height_cm'
df.loc[:,'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [57]:
# Obtener todas las columnas que corresponden al index 'L. Messi'
df.loc['L. Messi',:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

# Seleccionar con una lista de valores

In [58]:
# obtener datos sobre L. Messi y Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [59]:
# obtener la altura de L. Messi y Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'], 'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [60]:
# obtener la altura y peso de L. Messi
df.loc['L. Messi', ['height_cm', 'weight_kg'] ]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [61]:
# obtener la altura y peso de L. Messi y Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'],  ['height_cm', 'weight_kg'] ]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

# Seleccionar un rango de datos con un slice
Start:stop:step (Nota: Contrariamente a las rebanadas tipicas en Python, "Start" y "stop" en este caso están incluidos)

In [62]:
# hacer slice a nombre de columnas
players = ['L. Messi', 'Cristiano Ronaldo']

df.loc[players, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [63]:
# hacer slice a nombre de los index
columns = [	'age', 'dob', 'height_cm', 'weight_kg']
# obtener los nombres de jugadores top1 y top10
df.index[:10]
df.loc['L. Messi':'M. Salah', columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

# Seleccionar elementos usando condiciones

In [64]:
# una condición: seleccionar jugadores con altura por encima de 180cm
columns = [	'age', 'dob', 'height_cm', 'weight_kg']

df['height_cm']>180

df.loc[df['height_cm']>180, columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [65]:
# multiples condiciones: seleccionar jugadores con altura por encima de 180cm y que sean de Argentina
df.loc[(df['height_cm']>180) & (df['nationality']=="Argentina"), :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

# Seleccionar elementos por posición de index con .iloc()

In [67]:
import pandas as pd
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob',	'height_cm', 'weight_kg', 'nationality', 'club']]

df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Seleccionar un valor
iloc[numero_fila, numero_columna]

In [72]:
# obtener la altura de L. Messi
df.iloc[0, 3]

170

In [73]:
# obtener el peso de Cristiano Ronaldo
df.iloc[1, 4]

83

In [74]:
# obtener todas las filas dentro de la columna 'height_cm'
df.iloc[:, 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [76]:
# obtener todas las columnas que corresponden al index 'L. Messi'
df.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

## Seleccionar con una lista de valores

In [77]:
# obtener datos sobre L. Messi y Cristiano Ronaldo
df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [78]:
# obtener la altura de l. Messi y Cristiano Ronaldo
df.iloc[[0, 1], 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [80]:
# obtener la altura y peso de L. Messi
df.iloc[0, [3, 4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [81]:
# obtener la altura y peso de L. Messi y Cristiano Ronaldo
df.iloc[[0, 1],[3, 4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

## Seleccionar un rango de datos con un slice
Start:Stop (El elemento "start" es incluido mientras que "stop" es excluido)

In [85]:
# hacer slice a nombre de columnas
# player = ['L. Messi', 'Cristiano Ronaldo']
players = [0, 1]
df.iloc[players, 1:7]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [86]:
# hacer slice a los nombres del index
# columns = ['age', 'dob', 'height_cm', 'weight_kg']
columns = [1, 2, 3, 4, 5]
df.iloc[:, columns]

                   age         dob  height_cm  weight_kg nationality
short_name
L. Messi            32  1987-06-24        170         72   Argentina
Cristiano Ronaldo   34  1985-02-05        187         83    Portugal
Neymar Jr           27  1992-02-05        175         68      Brazil
J. Oblak            26  1993-01-07        188         87    Slovenia
E. Hazard           28  1991-01-07        175         74     Belgium
...                ...         ...        ...        ...         ...
Shao Shuai          22  1997-03-10        186         79    China PR
Xiao Mingjie        22  1997-01-01        177         66    China PR
Zhang Wei           19  2000-05-16        186         75    China PR
Wang Haijian        18  2000-08-02        185         74    China PR
Pan Ximing          26  1993-01-11        182         78    China PR

[18278 rows x 5 columns]

In [91]:
# obtener los nombres de jugadores top1 y top10
df.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [92]:
df.iloc[0:10, columns]

                   age         dob  height_cm  weight_kg  nationality
short_name
L. Messi            32  1987-06-24        170         72    Argentina
Cristiano Ronaldo   34  1985-02-05        187         83     Portugal
Neymar Jr           27  1992-02-05        175         68       Brazil
J. Oblak            26  1993-01-07        188         87     Slovenia
E. Hazard           28  1991-01-07        175         74      Belgium
K. De Bruyne        28  1991-06-28        181         70      Belgium
M. ter Stegen       27  1992-04-30        187         85      Germany
V. van Dijk         27  1991-07-08        193         92  Netherlands
L. Modrić           33  1985-09-09        172         66      Croatia
M. Salah            27  1992-06-15        175         71        Egypt

## Seleccionar usando condiciones
iloc no puede aceptar una Serie booleana, pero si puede aceptar una lista booleana.
Tenemos que utilizar la funcion list() para convertir una Serie a una lista

In [103]:
# una condición: seleccionar jugadores con altura mayor que 180cm
# columns =  ['age', 'dob', 'height_cm', 'weight_kg']
columns = [1, 2, 3, 4]

df.iloc[list(df['height_cm']>180), columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [105]:
# multiples condiciones: seleccionar jugadores con altura mayor a 180cm y origen argentina
df.iloc[list((df['height_cm']>180) & (df['nationality']=="Argentina")), : ]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

# Fijar valores en un dataframe

## Fijar nuevo valor para una celda dentro de un dataframe

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [4]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Fijar valores a una celda

In [6]:
# actualizar la altura de L. Messi
df.loc['L. Messi', 'height_cm']

170

In [7]:
df.loc['L. Messi', 'height_cm'] = 175
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Fijar el valor de toda una columna

In [8]:
# fijar la altura de 190 a todos los jugadores
df.loc[:, 'height_cm' ] = 190

In [9]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,190,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,190,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,190,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,190,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,190,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,190,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,190,78,China PR,Hebei China Fortune FC

## Fijar valor a toda la fila

In [10]:
# obtener todas las columnas que corresponden a los jugadores rankeado en la ultima fila
df
# al mostrar df vemos que el ultimo jugador en el ranking es 'Pan Ximing'
# ahora aplicamos el motodo iloc para obtener lo que buscamos

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,190,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,190,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,190,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,190,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,190,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,190,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,190,78,China PR,Hebei China Fortune FC

In [9]:
df. iloc[-1, :]

long_name                         潘喜明
age                                26
dob                        1993-01-11
height_cm                         190
weight_kg                          78
nationality                  China PR
club           Hebei China Fortune FC
Name: Pan Ximing, dtype: object

In [12]:
# fijar el valor de nulo a todas las columnas que corresponden al jugador rankeado el ultimo 
# para asignar este valor necesitamos importar libreria numpy
import numpy as np

In [10]:
# np.nan significa valores nulos
df.iloc[-1, :] = np.nan

In [14]:
# al observar los cambios en el dataframe, vemos que 'Pan Ximing' tiene todos sus valores en nulo
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,190.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,190.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,190.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,190.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,190.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,190.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,190.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,190.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,190.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Fijar valor a multiples celdas

In [11]:
# Fijar valor a todos los items que hacen match con la lista de nombres
# esta es la lista de nombres 
['L. Messi', 'Cristiano Ronaldo']
#para fijar los valores respecto a la lista:

df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm']] = 175

In [16]:
# mostrar dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,190.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,190.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,190.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,190.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,190.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,190.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,190.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Fijar valores para filas que cumplen una condicion

In [12]:
# Fijar valor para filas que cumplen una condicion
columns = ['age', 'dob', 'height_cm', 'weight_kg']

df.loc[df['height_cm'] > 180, columns] = 0
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Eliminar filas y columnas de un dataframe

## usando parametro axis el 0 resprenta las filas y el 1 a las columna

In [13]:
# Eliminar una fila
# usando parametro axis el 0 resprenta las filas y el 1 a las columnas
# esta sintaxis crea una copia del dataframe
df.drop('L. Messi', axis=0)

# puede observarse que la fila correspondiente al index de Messi se borró

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## usando parametro index

In [14]:
# esta sintaxis crea una copia del dataframe
df.drop(index=['L. Messi'])

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eliminar dos o mas filas y actualizar datos (inplace=True

In [19]:
# co inplace sustituimos los valores en el dataframe
df.drop(['L. Messi', 'Cristiano Ronaldo'], axis=0, inplace=True)

In [18]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,0.0,0,0.0,0.0,Germany,FC Barcelona
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eliminar Columna

In [21]:
# eliminar una columna
# parametro axis
df.drop('long_name', axis=1)


# parametro columns
df.drop(columns=['long_name'])

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
Neymar Jr,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid
K. De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City
M. ter Stegen,0.0,0,0.0,0.0,Germany,FC Barcelona
...,...,...,...,...,...,...
Shao Shuai,0.0,0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# eliminar columna por posición/index (eliminar ultima columna)
# esta seria una forma > df.drop('club', axis=1)
# pero queremos usar la posicion de club es el la posicion 6
df.drop(df.columns[[-1]], axis=1)

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil
J. Oblak,Jan Oblak,0.0,0,0.0,0.0,Slovenia
E. Hazard,Eden Hazard,0.0,0,0.0,0.0,Belgium
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium
M. ter Stegen,Marc-André ter Stegen,0.0,0,0.0,0.0,Germany
...,...,...,...,...,...,...
Shao Shuai,邵帅,0.0,0,0.0,0.0,China PR
Xiao Mingjie,Mingjie Xiao,0.0,0,0.0,0.0,China PR
Zhang Wei,张威,0.0,0,0.0,0.0,China PR
Wang Haijian,汪海健,0.0,0,0.0,0.0,China PR
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# eliminar dos o mas columnas y actualizar dataframe (inplace=True)
df.drop(['long_name', 'dob'], axis=1, inplace=True)

In [29]:
df

,age,height_cm,weight_kg,nationality,club
short_name,,,,,
Neymar Jr,0.0,0.0,0.0,Brazil,Paris Saint-Germain
J. Oblak,0.0,0.0,0.0,Slovenia,Atlético Madrid
E. Hazard,0.0,0.0,0.0,Belgium,Real Madrid
K. De Bruyne,0.0,0.0,0.0,Belgium,Manchester City
M. ter Stegen,0.0,0.0,0.0,Germany,FC Barcelona
...,...,...,...,...,...
Shao Shuai,0.0,0.0,0.0,China PR,Beijing Renhe FC
Xiao Mingjie,0.0,0.0,0.0,China PR,Shanghai SIPG FC
Zhang Wei,0.0,0.0,0.0,China PR,Hebei China Fortune FC
Wang Haijian,0.0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN

# Crear muestra aleatoria con el método sample()

In [32]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'nationality', 'club']]

In [33]:
df

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

## El método sample()

In [39]:
# extraer 10 elementos aleatorios de la columna "nationality"
df['nationality'].sample(10, random_state=99)
#randon_state=99 indica el estado de aleatoridad con un nivel 99, por lo que 
# al correr el mismo codigo varias veces, devuelve el mismo dataframe.
# si no estuviera random_state=99, el dataframe cambia cada vez que corremos el codigo

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [41]:
# extraer 20% de muestra aleatoria del dataframe
df.sample(frac=0.2)
# si corremos el codigo de nuevo, obtenemos otros dataframes diferentes

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
K. Roos,Kelle Roos,27,1992-05-31,196,Netherlands,Derby County
J. Magennis,Josh Magennis,28,1990-08-15,188,Northern Ireland,Hull City
M. Sarr,Malang Sarr,20,1999-01-23,182,France,OGC Nice
R. Östlind,Robin Östlind,29,1990-03-14,176,Sweden,Falkenbergs FF
L. Stindl,Lars Stindl,30,1988-08-26,181,Germany,Borussia Mönchengladbach
...,...,...,...,...,...,...
Marquinhos,Marcos Aoás Corrêa,25,1994-05-14,183,Brazil,Paris Saint-Germain
Claudio,Claudio Medina Ricoy,25,1993-09-04,186,Spain,Elche CF
E. Salli,Edgar Salli,26,1992-08-17,171,Cameroon,Sepsi OSK
Feng Jing,冯劲,25,1993-08-14,175,China PR,Chongqing Dangdai Lifan FC SWM Team
T. Parker,Tim Parker,26,1993-02-23,188,United States,New York Red Bulls

In [42]:
df.sample(frac=0.2, random_state=99)

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
R. Alvarado,Roberto Alvarado,20,1998-09-07,176,Mexico,Cruz Azul
Qiao Wei,Wei Qiao,31,1987-07-20,187,China PR,Shenzhen FC
E. Paredes,Esteban Paredes,38,1980-08-01,178,Chile,Colo-Colo
K. Stoyanov,Krum Stoyanov,27,1991-08-01,177,Bulgaria,Bulgaria
M. Chudý,Martin Chudý,30,1989-04-23,187,Slovakia,Górnik Zabrze
...,...,...,...,...,...,...
Pedro León,Pedro León Sánchez Gil,32,1986-11-24,183,Spain,SD Eibar
M. Sykes,Mark Sykes,21,1997-08-04,182,Northern Ireland,Oxford United
Y. Fofana,Yahia Fofana,18,2000-08-21,194,France,Le Havre AC
A. Micai,Alessandro Micai,25,1993-07-24,186,Italy,US Salernitana 1919
David Bruno,David Dias Resende Bruno,27,1992-02-14,175,Portugal,Astra Giurgiu

In [44]:
# incrementar la muestra -> frac>1 (obs: el parametro replace tiene que ser verdadero)
# cuando fraccion es mayor a 100% tenemos obligatoriamente poner el valor replace=True
df.sample(frac=2, replace=True, random_state=33)
# genera dataframe con el doble de filas que el DF original

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
A. Aguilar,Abel Enrique Aguilar Tapia,34,1985-01-06,187,Colombia,Unión Magdalena
V. Janjičić,Vasilije Janjičić,20,1998-11-02,180,Switzerland,Hamburger SV
Dani Olmo,Daniel Olmo Carvajal,21,1998-05-07,179,Spain,Dinamo Zagreb
M. Škriniar,Milan Škriniar,24,1995-02-11,187,Slovakia,Inter
G. Lefebvre,Grégoire Lefebvre,25,1994-05-13,174,France,AS Nancy Lorraine
...,...,...,...,...,...,...
G. Gutiérrez,Germán Andrés Gutiérrez Henao,29,1990-01-16,170,Colombia,Junior FC
I. Ouédraogo,Issiaka Ouédraogo,30,1988-08-19,179,Burkina Faso,SKN St. Pölten
K. Gibbs,Kieran Gibbs,29,1989-09-26,179,England,West Bromwich Albion
K. Molino,Kevin Molino,29,1990-06-17,173,Trinidad & Tobago,Minnesota United FC
B. Kopplin,Björn Kopplin,30,1989-01-07,183,Germany,Randers FC

# Filtrar un dataframe con el método query()

In [45]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'nationality', 'club']]

In [46]:
# seleccionar jugadores mayores de 34 años
df.query("age>34")

# ejercicio: escribir el equivalente slicing booleano
# df[df['age']>34]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,37,1981-10-03,195,Sweden,LA Galaxy
Pepe,Képler Laveran Lima Ferreira,36,1983-02-26,188,Portugal,FC Porto
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,Italy,Juventus
Casillas,Iker Casillas Fernández,38,1981-05-20,185,Spain,FC Porto
F. Quagliarella,Fabio Quagliarella,36,1983-01-31,180,Italy,Sampdoria
...,...,...,...,...,...,...
N. Hunt,Nicky Hunt,35,1983-09-03,185,England,Crewe Alexandra
K. Ogi,荻 晃太,36,1983-05-05,185,Japan,Vissel Kobe
J. McCombe,Jamie McCombe,36,1983-01-01,196,England,Lincoln City
G. Maley,Gary Maley,36,1982-08-03,188,Scotland,Livingston FC
Zhou Ting,周挺,40,1979-02-05,182,China PR,Dalian YiFang FC

In [61]:
# seleccionar jugardores >34 años que son de Italia

df.query("age>34" and "nationality=='Italy'")

# ejercicio: escribir equivalente slicing booleano
df[(df['age']>34) & (df['nationality']=='Italy')]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,Italy,Juventus
F. Quagliarella,Fabio Quagliarella,36,1983-01-31,180,Italy,Sampdoria
D. De Rossi,Daniele De Rossi,35,1983-07-24,184,Italy,Boca Juniors
A. Mirante,Antonio Mirante,35,1983-07-08,193,Italy,Roma
A. Diamanti,Alessandro Diamanti,36,1983-05-02,180,Italy,Western United FC
C. Maggio,Christian Maggio,37,1982-02-11,184,Italy,Benevento
D. Dainelli,Dario Dainelli,40,1979-06-09,191,Italy,Livorno
F. Marchetti,Federico Marchetti,36,1983-02-07,188,Italy,Genoa
F. Peluso,Federico Peluso,35,1984-01-20,188,Italy,Sassuolo
C. Terzi,Claudio Terzi,35,1984-06-19,180,Italy,Spezia
A. Rosina,Alessandro Rosina,35,1984-01-31,170,Italy,US Salernitana 1919
D. Maietta,Domenico Maietta,36,1982-08-03,184,Italy,Empoli
A. Cordaz,Alex Cordaz,36,1983-01-01,188,Italy,Crotone
S. Floccari,Sergio Floccari,37,1981-11-12,180,Italy,SPAL
M. Iori,Manuel Iori,37,1982-03-12,182,Italy,Cittadella
M. Stefani,Mirco Stefani,35,1984-01-25,180,Italy,Pordenone
G. Pegolo,Gianluca Pegolo,38,1981-03-25,183,Italy,Sassuolo
D. Gastaldello,Daniele Gastaldello,36,1983-06-25,185,Italy,Brescia
D. Moscardelli,Davide Moscardelli,39,1980-02-03,185,Italy,Pisa
E. Calaiò,Emanuele Calaiò,37,1982-01-08,179,Italy,US Salernitana 1919
D. Croce,Daniele Croce,36,1982-09-09,173,Italy,US Cremonese
A. Rosati,Antonio Rosati,36,1983-06-26,195,Italy,Torino
F. Mazzeo,Fabio Mazzeo,35,1983-07-24,177,Italy,Livorno
M. De Agostini,Michele De Agostini,35,1983-11-27,180,Italy,Pordenone
A. Pomini,Alberto Pomini,38,1981-03-17,185,Italy,Venezia FC
F. Evacuo,Felice Evacuo,36,1982-08-23,187,Italy,Trapani
G. Munari,Gianni Munari,36,1983-06-24,190,Italy,Parma
L. Pagliarulo,Luca Pagliarulo,35,1984-02-29,187,Italy,Trapani
C. Del Grosso,Cristiano Del Grosso,36,1983-03-24,171,Italy,Pescara
R. Vitiello,Roberto Vitiello,36,1983-05-08,176,Italy,Castellammare di Stabia
A. Bruno,Alessandro Bruno,35,1983-07-04,180,Italy,Pescara
T. Berni,Tommaso Berni,36,1983-03-06,185,Italy,Inter
P. Gori,Pier Graziano Gori,39,1980-05-10,189,Italy,Benevento
S. Farelli,Simone Farelli,36,1983-02-19,186,Italy,Pescara

In [72]:
# agregar un operador de negación al primer ejemplo

df.query("not(age>34)") 
         
# en lugar de not podria utilizarse ⁓
         
# ejercicio: escribir el equivalente slicing booleano
df[~(df['age']>34)]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [76]:
# convertir la altura a metros  y seleccionar aquellos que midan  mas de 180cm
df.query("height_cm/100 > 1.8")
# ejercicio: escribir el equivalente slicing booleano
df[df['height_cm']/100> 1.8]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,Netherlands,Liverpool
...,...,...,...,...,...,...
P. Martin,Paul Martin,20,1999-01-05,188,Republic of Ireland,Waterford FC
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [78]:
df['dob'] = df['dob'].astype('datetime64')
df['dob'].dt.year

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [83]:
# Seleccionar jugadores que nacieron antes de los 1990

#1 revisar el tipo de dato

df.dtypes

#2 convertir el tipo de dato de la columna 'dob' a datetime

df['dob'] = df['dob'].astype('datetime64')

#3 query

df.query("dob.dt.year > 1990")

# ejercicio: escribir  el equivalente slicing booleano
df['dob'] = df ['dob'].astype('datetime64')
df[df['dob'].dt.year> 1990]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

# El método apply()

este metodo se utiliza para aplicar una funcion u operacion
bien a una serie o a un dataframe.
Se aplica a todos los valores bien de una fila determinada o una serie

In [92]:
import numpy as np
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [93]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [94]:
# usar función de numpy y aplicar a la serie
df['age'].apply(np.sqrt)

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [95]:
# creamos nuestra propia función y se la aplicamos a un dataframe
# vamos a calcular el indice de masa corporal imc 
# como el (peso_kg/altura_m2)
# kg/m2
def calcular_imc(row):
        return row['weight_kg'] / ((row['height_cm']/100))**2

In [96]:
df.apply(calcular_imc, axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

# Función lambda + método apply()

In [97]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

## Función Lambda

In [98]:
# función básica que suma dos valores
def sum_values(a,b):
    x = a+b
    return x

In [99]:
sum_values(2,3)

5

In [100]:
# función lambda (se usa en una linea)
# se utiliza para funciones temporales, que se usan una vez
# normalmente está asociada al uso de apply
# sum_values_lambda = lambda input:output
sum_values_lambda = lambda a,b:a+b

In [101]:
sum_values_lambda(2,3)

5

## Apply + Funcion lambda

la ventaja de usar apply + lambda vs hacer referencia solo a un atributo
es que  usando .apply(lambda... podemos aplicar directamente el metodo,
sin tener que recordar el atributo.
Pues pandas, hay que referenciar el atributo y posteriormente la acción a realizar. 
por tanto apply+lambda ventaja

### usar función lambda para convertir serie "height_cm" a metros

In [102]:
df['height_cm'].apply(lambda x:x/100)
# observamos la transofrmación a metros la estatura

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [103]:
# otra alternativa para pasar de cm a metros
#en los siguientes ejemplos entenderemos porque debemos usar lambda
df['height_cm']/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

### usar función lambda para covnertir serie "long_name" a mayuscula

In [105]:
df['long_name'].apply(lambda x:x.upper())

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [106]:
# alternativa usando atributo str
df['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

### usar función lambda para obtener el año de la serie "dob"

In [110]:
# primero hay que transformar los datos de 'dob' a formato fecha
import numpy as np
import pandas as pd
df.dtypes

long_name              object
age                     int64
dob            datetime64[ns]
height_cm               int64
weight_kg               int64
nationality            object
club                   object
dtype: object

In [111]:
df['dob'] = df['dob'].astype('datetime64')

In [113]:
# usamos funcion lambda para obtener año de la serie'dob'
df['dob'].apply(lambda x:x.year)

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [114]:
# alternativa con el atributo dt
df['dob'].dt.year

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [116]:
# aplicar funcion lambda al dataframe para calcular el IMC
df.apply(lambda x:x['weight_kg']/ ((x['height_cm']/100)**2), axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

# Hacer una copia a un dataframe con el metodo copy()

In [119]:
df = pd.read_csv('players_20.csv')
df.set_index('short_name', inplace=True)
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [120]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Metodo copy()

### deep = True

In [121]:
# deep = True por defecto (las modificaciones a la data o indices de la copia)
df_copy = df.copy()

In [123]:
# actualizar valores en dataframe original
df.loc['L. Messi', 'height_cm'] = 180

In [124]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [125]:
# copia vs dataframe original
df_copy

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

### deep = False

estos df se denominan shallow

In [129]:
# deep=False (cualquier cambio a la data original sera reflejado en la copia)
df_shallow_copy = df.copy(deep=False)

In [130]:
# actualizar valor dataframe original
df.loc['Cristiano Ronaldo', 'height_cm'] = 200

In [131]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [132]:
df_shallow_copy

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## Asignación simple

In [136]:
# hacer copia
df_new_copy = df
# esto sería una copia Shallow, reflejandose los cambios en ambos df

In [137]:
# actualizar valor en el dataframe original
df.loc['Neymar Jr', 'height_cm'] = 190

In [138]:
# copia vs dataframe original
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [139]:
df_new_copy

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC